/* universal */
*{
   box-sizing: border-box;
}
:root {
   --cor-fundo: #fff;
   --cor-container: #72225E;
   --cor-container-claro: #9F3081;
   --cor-textos: #fff;
   --cor-container-secundary: #E62866;
}
html {
   font-size: 62.5%;
   overflow-y: scroll;
   scroll-behavior: smooth;
}
body {
   font-family: "Arial", sans-serif;
   font-size: 1.6rem;
   color: var(--cor-container);
}

/* centro */
.centro {
   max-width: 120rem;
   margin: auto;
   position: relative;
}

/* header */
header {
   background: var(--cor-container);
   color: var(--cor-textos);
   padding: 1rem;
   box-shadow: 4px 4px 10px #1c1c1c;
   position: sticky;
   top: 0;
   z-index: 1000;
}
.header-top {
   display: flex;
   justify-content: space-between;
   align-content: center;
}
.logo img {
   width: 16rem;
   height: 10rem;
}
/* menu */
#menu {
   display: none;
}
#icon {
   position: absolute;
   top: 3rem;
   right: 1rem;
   z-index: 2000;
   display: none;
}
.menuTop {
   display: flex;
}
.menuTop ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}
.menuTop a {
   padding: 0.5rem 0;
   margin-left: 1.8rem;
   color: var(--cor-fundo);
   text-decoration: none;
}
.menuTop a:hover {
   border-bottom: 0.2rem solid var(--cor-fundo);
}

/* .menuTop {
   background: var(--cor-container);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   display: none;
   text-align: center;
}
.menuTop ul {
   list-style: none;
   margin: 10rem 0;
   padding: 0;
}
.menuTop a {
   display: block;
   margin: 0;
   padding: 2rem;
   color: var(--cor-fundo);
   text-decoration: none;
}
.menuTop a:hover {
   background: var(--cor-container-claro);
}
 */
 
 /* menu padrão: sempre visível no PC */
.menuTop {
  display: flex;
  gap: 20px;
}

/* no modo mobile, esconda o menu */
@media (max-width: 768px) {
  .menuTop {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  .menuTop.ativo {
    display: flex;
  }
}

 
/* main */
main {
   /* sem formatação */
}
.wrapper {
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/fundo.jpg") no-repeat;
   width: 100%;
   height: 50rem;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   margin-bottom: 3rem;
}
.wrapper h2 {
   color: var(--cor-textos);
   margin: 0;
   font-size: 5rem;
   text-align: center;
}
.wrapper span {
   font-style: italic;
   text-decoration: underline;
   color: var(--cor-container-claro);
   text-shadow: 2px 2px 8px black;
   
}
.wrapper a {
   text-align: center;
   display: inline-block;
   background: var(--cor-container-claro);
   margin: 0 auto;
   padding: 1rem;
   color: var(--cor-textos);
   text-decoration: none;
   border-radius: 0.5rem;
   animation: pulsar 2s ease-in-out infinite;
}
.centralize {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
   padding: 0 3rem;
}
.titulo {
   padding: 0 3rem;
   text-align: center;
   font-size: 3rem;
   margin: 0 2rem;
   color: var(--cor-container-secundary);
}
.titulo2 {
   padding: 0 3rem;
   text-align: center;
   font-size: 3rem;
   margin: 0 2rem;
   color: var(--cor-container-secundary);
}

.fundoCopo {
   padding: 3rem;
   margin: 0 auto;
   max-width: 50rem;
}
.fundoCopo img {
   animation: copo 1.5s ease-in-out infinite;
}


/* container */
.container {
   background: var(--cor-container-secundary);
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   margin: 3rem 1rem;
   padding: 1rem;
   border-radius: 2rem;
}
.container article {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   color: var(--cor-textos);
   width: 20rem;
   text-align: center;
}

/* nossa loja */
.nossaLoja {
   padding: 1rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: auto;
   gap: 1rem;
   margin: 3rem 0;
}
.nossaLoja article {
   height: 20rem;
}
.loja img {
   width: 100%;
   height: 20rem;
   object-fit: cover;
   object-position: center center;
}

/* textos */
.textos {
   color: var(--cor-container);
   padding: 1rem 4rem;
   text-align: center;
}
iframe {
   margin: 3rem 0;
   padding: 1rem;
}
.icon {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* footer */
footer {
   background: var(--cor-container);
   color: var(--cor-textos);
   padding: 1rem;
}
.footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}
.footer p {
   font-size: 1.2rem;
}
.redesSociais {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   margin: 2rem 0;
}
.dev {
   text-decoration: underline;
   color: var(--cor-textos);
   text-transform: uppercase;
}

/* animações botão */
@keyframes pulsar {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.1);
      box-shadow: 2px 2px 8px var(--cor-container-claro);
   }
   100% {
      transform: scale(1);
   }
}
/* animações do copo */
@keyframes copo {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.1);
   }
   100% {
      transform: scale(1);
   }
}


/* médias queries */
@media(max-width: 768px){
   #menu {
      display: block;
   }
   
   .menuTop {
   background: var(--cor-container);
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   display: none;
   text-align: center;
}
.menuTop ul {
   list-style: none;
   margin: 10rem 0;
   padding: 0;
   display: block;
}
.menuTop a {
   display: inline-block;
   margin: 1rem 0;
   padding: 1rem 0;
   color: var(--cor-fundo);
   text-decoration: none;
}
.menuTop a:hover {
   
}

   
   
   .wrapper h2 {
      font-size: 3rem;
   }
   .titulo {
      padding: 2rem;
   }
   .footer {
      display: block;
      text-align: center;
   }
   .container {
      display: block;
   }
   .container article {
      align-items: center;
      width: 100%;
      padding: 2rem 4rem;
   }
   .nossaLoja {
      grid-template-columns: repeat(2, 1fr);
   }
}

